{% extends 'layout.html' %}


{% block body %}
<div class="container text-center">
  <h1 class="h3 mb-3 font-weight-normal text-center">Set New Password</h1>

  <form method="post" class="form-register">
    {% csrf_token %}

    <input class="form-control m-3" type="password" name="new_password1" required
      id="id_new_password1" placeholder="New password" autocomplete="new-password">

    <input class="form-control m-3" type="password" name="new_password2" required
      id="id_new_password2" placeholder="Confirm New Password" autocomplete="new-password">

    <div class="text-center">
      <button class="btn btn-lg btn-primary" type="submit">Set New Password</button>
    </div>

    <div class="text-center my-2">
      {% for field in form %}
      {% if field.errors %}
      <hr>
      {% endif %}
      {% for error in field.errors%}
      <p class="text-danger">{{error}}</p>
      {% endfor %}
      {% endfor %}
    </div>

    <hr>

    <small class="text-left">
      <ul>
        <li>
          Your password can't be too similar to your other personal information.
        </li>
        <li>
          Your password must contain at least 8 characters.
        </li>
        <li>
          Your password can't be a commonly used password.
        </li>
        <li>
          Your password can't be entirely numeric.
        </li>
      </ul>
    </small>

  </form>
</div>



{% endblock %}