{% extends 'layout.html' %}
{% load static %}

{% block title %}
Hourly Enrollment
{% endblock %}


{% block body %}

<div class="container-fluid p-5 text-center">
    <h2>Hourly Enrollment</h2>
    <h3>{{enrollment.student.get_full_name}} {{enrollment.student.email}}</h3>
    <table class="table table-condensed table-striped text-center m-0">
        <thead>
            <tr><th>Info</th></tr>
        </thead>
        <tr>
            <td>Enrollment Number</td>
            <td>{{enrollment.enrollment_number}}</td>
        </tr>
        <tr>
            <td>Enrollment Type</td>
            <td>{{enrollment.enrollment_type}}</td>
        </tr>
        <tr>
            <td>Total Hours</td>
            <td>{{enrollment.total_hours}}</td>
        </tr>
        <tr>
            <td>Hours Remaining</td>
            <td>{{enrollment.hours_left}}</td>
        </tr>
    </table>
</div>

{% endblock %}