{% extends 'layout.html' %}
{% load static %}

{% block title %}
Exams
{% endblock %}


{% block body %}
    
    <div class="container-fluid text-center p-5 my-3">
        <h1>Add Exam</h1>
        <form action="#" method="post">
            {% csrf_token %}
            <input required list="halaqaat" name="halaqa" class="form-select m-2" placeholder="Halaqa Number">
            <input required list="students" name="student" class="form-select m-2" placeholder="Student">
            <input required list="exam_types" name="exam_type" class="form-select m-2" placeholder="Exam Type">
            <textarea required type="text" max="90" name="exam_timing" class="form-control m-2" placeholder="Timing"></textarea>
            <input required type="text" max="49" name="exam_from" class="form-control m-2" placeholder="From">
            <input required type="text" max="49" name="exam_till" class="form-control m-2" placeholder="Till">
            <input required type="number" name="number_of_juz" step=".1" class="form-control m-2" placeholder="Number of Juz">

            <button type="submit" class="btn btn-primary btn-lg my-3">Add Exam</button>
            
            <datalist id="halaqaat" class="d-none">
                {% for halaqa in halaqaat %}
                <option value="{{halaqa.number}}">{{halaqa.number}}</option>
                {% endfor %}
            </datalist>
            <datalist id="students" class="d-none">
                {% for student in students %}
                <option value="{{student.email}}">{{student.username}} {{student.last_name}} {{student.email}}</option>
                {% endfor %}
            </datalist>
            <datalist id="exam_types" class="d-none">
                {% for type in exam_type %}
                <option value="{{type.type_name}}">{{type.type_name}}</option>
                {% endfor %}
            </datalist>
        </form>
    </div>

    <div class="container-fluid text-center p-5 my-3">
        <h1>Active Exams</h1>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Halaqa</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>From</th>
                    <th>Till</th>
                    <th>No. of Juz</th>
                </tr>
            </thead>
            {% for exam in active_exams %}
                <tr>
                    <td>{{exam.student.get_full_name}}</td>
                    <td>{{exam.halaqa.halaqa_number}}</td>
                    <td>{{exam.exam_type}}</td>
                    <td>{{exam.exam_date}}</td>
                    <td>{{exam.exam_from}}</td>
                    <td>{{exam.exam_till}}</td>
                    <td>{{exam.number_of_juz}}</td>
                    <td><a class="link-dark" href="{% url 'show_exam_details' exam.id %}">Details</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}