{% extends 'layout.html' %}
{% load static %}

{% block title %}
Profile : {{requested_user.username}}
{% endblock %}


{% block body %}

<div class="container-fluid m-3 text-center">
    <img src="{{requested_user.profile_image}}" alt="Profile Image" class="rounded-circle border" style="width: 20vw;">
    <h1 class="text-center"><i class="fa-solid fa-user"></i> {{requested_user.username}} {{requested_user.last_name}}
    </h1>
</div>

<div class="container-fluid table-responsive text-center mx-0">
    <table class="table table-condensed table-striped text-center m-0">
        <tr>
            <td>First Name</td>
            <td>{{requested_user.username}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{requested_user.last_name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{requested_user.email}}</td>
        </tr>
        <tr>
            <td>Date Joined</td>
            <td>{{requested_user.date_joined}} - UTC</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{requested_user.gender}}</td>
        </tr>
        <tr>
            <td>Role(s)</td>
            <td>
                {% for group_name in requested_user.groups %}
                {{group_name}}<br>
                {% empty %}
                None
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>{{requested_user.phone_num}}</td>
        </tr>
        <tr>
            <td>Current Residence</td>
            <td>{{requested_user.current_residence}}</td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td>{{requested_user.nationality}}</td>
        </tr>
        {% if "Teacher" in requested_user.groups or requested_user.is_teacher %}
        {% if requested_user.years_of_experience and requested_user.years_of_experience > 0 %}
        <tr>
            <td>Years of experience</td>
            <td>{{requested_user.years_of_experience}}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Qualifications</td>
            <td>{{requested_user.qualifications}}</td>
        </tr>
        {% endif %}
    </table>

</div>

<hr class="my-3">
<div class="container-fluid table-responsive text-center mx-0">
    <table class="table table-condensed table-striped text-center m-0">
        <thead class="text-center">
            <tr><h5>Classes and Hourly Enrollments</h5></tr>
        </thead>
        <tr>
            <td>Classes Joined</td>
            <td>
                {% for halaqa in student_halaqas %}
                <a href="{% url 'show_halaqa' halaqa.id %}">{{halaqa.halaqa_number}}</a>,<br>
                {% empty %}
                No Classes Joined
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Hourly Enrollments</td>
            <td>
                {% for enrollment in student_enrollments %}
                <a href="{% url 'show_hourly_enrollment' enrollment.enrollment_number %}">{{enrollment.enrollment_number}}</a>,<br>
                {% empty %}
                No Enrollments
                {% endfor %}
            </td>
        </tr>
    </table>
</div>

<hr>

{% if user.is_supervisor or user.is_teacher or user.is_superuser or requested_user == user%}
<div class="container-fluid m-2 text-center">
    {% if student_stats %}
    <span class="my-2">
        <table class="table table-condensed table-striped text-center mx-0 px-0">
            <thead class="bg-dark text-white">
                <th>
                    Quick Scroll Links
                </th>
            </thead>
            {% for stat in student_stats%}
            <tr>
                <td><a href="#halaqa_{{stat.halaqa.halaqa_number}}">halaqa {{stat.halaqa.halaqa_number}}</a></td>
            </tr>
            {% empty %}
            <tr>
                <td>No Classes</td>
            </tr>
            {% endfor %}
        </table>
    </span>
    {% endif %}
    {% for stat in student_stats %}
    <div id="halaqa_{{stat.halaqa.halaqa_number}}" class="container-fluid border-rounded border text-center my-3">
        <h2>Halaqa : {{stat.halaqa.halaqa_number}} - {{stat.halaqa.halaqa_type.type_name}} </h2>
        <small class="text-muted">
            {% if stat.role == "teacher" %}
            You Teach this Halaqa<br>
            {% endif %}
            {% if stat.role == "supervisor" %}
            You Supervise this Halaqa<br>
            {% endif %}
            {% if stat.role == "student" %}
            Your stats<br>
            {% endif %}
            {% if stat.role == "superuser" %}
            Viewing as superuser<br>
            {% endif %}
        </small>
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
        {% if stat.role == "teacher" or stat.role == "superuser" %}
        <div class="container text-center my-2 ">
            <form id="stat_form" action="{% url 'add_student_stats' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="account" value="{{requested_user.id}}">
                <input type="hidden" name="halaqa" value="{{stat.halaqa.id}}">
                <input type="date" name="date" required>
                <select class="form-select m-2" required name="attendance">
                    <option selected value="Absent">Absent</option>
                    <option value="Present">Present</option>
                    <option value="Late">Late</option>
                </select>
                <input class="form-control m-2" type="text" name="dars" placeholder="Dars">
                <input class="form-control m-2" type="number" step="0.1" name="dars_pages" required placeholder="dars_pages">
                <select class="form-select m-2" required name="taqdeer_dars">
                    <option selected value="Not Recited">Not Recited</option>
                    <option value="Excellent">Excellent</option>
                    <option value="Very Good">Very Good</option>
                    <option value="Good">Good</option>
                    <option value="Not Acceptable">Not Acceptable</option>
                </select>
                <input class="form-control m-2" type="text" name="murajia" placeholder="Murajia">
                <input class="form-control m-2" type="number" step="1" name="murajia_pages" required placeholder="Murajia Pages">
                <select class="form-select m-2" required name="taqdeer_murajia">
                    <option selected value="Not Recited">Not Recited</option>
                    <option value="Excellent">Excellent</option>
                    <option value="Very Good">Very Good</option>
                    <option value="Good">Good</option>
                    <option value="Not Acceptable">Not Acceptable</option>
                </select>
                <div class="text-center my-3">
                    <button type="submit" class="btn btn-primary my-2">Add Stat</button>
                </div>
            </form>
        </div>
        {% endif %}
        <div class=" container-fluid table-responsive text-center px-0 mx-0">
            <table class="table table-condensed table-striped text-center mx-0 px-0 small_font">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Date</th>
                        <th>Attendance</th>
                        <th>Dars</th>
                        <th>Dars Pages</th>
                        <th>Dars Grade</th>
                        <th>Murajia</th>
                        <th>Murajia Pages</th>
                        <th>Murajia Grade</th>
                    </tr>
                </thead>
                {% for day in stat.stats %}
                <tr>
                    <td>{{day.date}}</td>
                    <td>{{day.attendance}}</td>
                    <td>{{day.dars}}</td>
                    <td>{{day.dars_pages}}</td>
                    <td>{{day.taqdeer_dars}}</td>
                    <td>{{day.murajia}}</td>
                    <td>{{day.murajia_pages}}</td>
                    <td>{{day.taqdeer_murajia}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}